<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Option-1:-School-Budget-from-DrivenData" data-toc-modified-id="Option-1:-School-Budget-from-DrivenData-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Option 1: <a href="https://www.drivendata.org/competitions/46/box-plots-for-education-reboot/page/86/" target="_blank">School Budget from DrivenData</a></a></span></li><li><span><a href="#Option-2:-Physical-Store-Retail-Dataset-from-Kaggle" data-toc-modified-id="Option-2:-Physical-Store-Retail-Dataset-from-Kaggle-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Option 2: <a href="https://www.kaggle.com/manjeetsingh/retaildataset" target="_blank">Physical Store Retail Dataset from Kaggle</a></a></span><ul class="toc-item"><li><span><a href="#Features-Data" data-toc-modified-id="Features-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Features Data</a></span></li><li><span><a href="#Sales-Data" data-toc-modified-id="Sales-Data-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Sales Data</a></span></li><li><span><a href="#Stores-Data" data-toc-modified-id="Stores-Data-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Stores Data</a></span></li></ul></li><li><span><a href="#Option-3:-Online-Retail-Dataset-from-UCI" data-toc-modified-id="Option-3:-Online-Retail-Dataset-from-UCI-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Option 3: <a href="https://archive.ics.uci.edu/ml/datasets/online+retail" target="_blank">Online Retail Dataset from UCI</a></a></span></li></ul></div>

In [2]:
import pandas as pd

## Option 1: [School Budget from DrivenData](https://www.drivendata.org/competitions/46/box-plots-for-education-reboot/page/86/)

In [3]:
budget = pd.read_csv('SchoolBudget_TrainingData.csv')

In [4]:
budget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400277 entries, 0 to 400276
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              400277 non-null  int64
 1   Function                400277 non-null  object
 2   Use                     400277 non-null  object
 3   Sharing                 400277 non-null  object
 4   Reporting               400277 non-null  object
 5   Student_Type            400277 non-null  object
 6   Position_Type           400277 non-null  object
 7   Object_Type             400277 non-null  object
 8   Pre_K                   400277 non-null  object
 9   Operating_Status        400277 non-null  object
 10  Object_Description      375493 non-null  object
 11  Text_2                  88217 non-null   object
 12  SubFund_Description     306855 non-null  object
 13  Job_Title_Description   292743 non-null  object
 14  Text_3                  109152 non-null  object
 15  Text_4                  53746 non-null   object
 16  Sub_Object_Description  91603 non-null   object
 17  Location_Description    162054 non-null  object
 18  FTE                     126071 non-null  float64
 19  Function_Description    342195 non-null  object
 20  Facility_or_Department  53886 non-null   object
 21  Position_Extra          264764 non-null  object
 22  Total                   395722 non-null  float64
 23  Program_Description     304660 non-null  object
 24  Fund_Description        202877 non-null  object
 25  Text_1                  292285 non-null  object
dtypes: float64(2), int64(1), object(23)
memory usage: 79.4+ MB

In [5]:
budget.head()

,Unnamed: 0,Function,Use,Sharing,Reporting,Student_Type,Position_Type,Object_Type,Pre_K,Operating_Status,...,Sub_Object_Description,Location_Description,FTE,Function_Description,Facility_or_Department,Position_Extra,Total,Program_Description,Fund_Description,Text_1
0,134338,Teacher Compensation,Instruction,School Reported,School,NO_LABEL,Teacher,NO_LABEL,NO_LABEL,PreK-12 Operating,...,NaN,NaN,1.0,NaN,NaN,KINDERGARTEN,50471.810,KINDERGARTEN,General Fund,NaN
1,206341,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,NO_LABEL,Non-Operating,...,NaN,NaN,NaN,RGN GOB,NaN,UNDESIGNATED,3477.860,BUILDING IMPROVEMENT SERVICES,NaN,BUILDING IMPROVEMENT SERVICES
2,326408,Teacher Compensation,Instruction,School Reported,School,Unspecified,Teacher,Base Salary/Compensation,Non PreK,PreK-12 Operating,...,NaN,NaN,1.0,NaN,NaN,TEACHER,62237.130,Instruction - Regular,General Purpose School,NaN
3,364634,Substitute Compensation,Instruction,School Reported,School,Unspecified,Substitute,Benefits,NO_LABEL,PreK-12 Operating,...,NaN,NaN,NaN,UNALLOC BUDGETS/SCHOOLS,NaN,PROFESSIONAL-INSTRUCTIONAL,22.300,GENERAL MIDDLE/JUNIOR HIGH SCH,NaN,REGULAR INSTRUCTION
4,47683,Substitute Compensation,Instruction,School Reported,School,Unspecified,Teacher,Substitute Compensation,NO_LABEL,PreK-12 Operating,...,NaN,NaN,NaN,NON-PROJECT,NaN,PROFESSIONAL-INSTRUCTIONAL,54.166,GENERAL HIGH SCHOOL EDUCATION,NaN,REGULAR INSTRUCTION

## Option 2: [Physical Store Retail Dataset from Kaggle](https://www.kaggle.com/manjeetsingh/retaildataset)

### Features Data

In [7]:
retail_features = pd.read_csv('Retail_Features.csv')

In [9]:
retail_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [10]:
retail_features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

### Sales Data

In [12]:
retail_sales = pd.read_csv('Retail_Sales.csv')

In [13]:
retail_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [14]:
retail_sales.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False

### Stores Data

In [16]:
retail_stores = pd.read_csv('Retail_Stores.csv')

In [18]:
retail_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [19]:
retail_stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

## Option 3: [Online Retail Dataset from UCI](https://archive.ics.uci.edu/ml/datasets/online+retail)

In [20]:
online_retail = pd.read_csv('OnlineRetail.csv')

In [21]:
online_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [22]:
online_retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom